@model List<YourStudioFinal.Models.Inquiry>
@{
	ViewBag.Title = "Inquiryist";
}

<!DOCTYPE html>
<html>
<head>
	<link href="~/css/Inquiry/iList.css" rel="stylesheet" />

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span>
                        <span onclick="openNav()">
                            <a class="nav-link active d-flex align-items-center" aria-current="page" href="#">
                                <i class="fas fa-bars pe-2 menu"></i>
                        </span>
                        <img src="~/photos/logo.png" class="logonav" alt="">
                        <img src="~/photos/logo2.png" class="logonav2" alt="">
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item">
                            <a class="nav-link">
                                <div class="wrapper-navbar-menu">
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                                        <ul class="navbar-nav me-3">
                                            <li>
                                                <div id="mySidenav" class="sidenav">
                                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                                    <a> @(ViewBag.isLogged ? ViewBag.User.UserName : "Username")</a>
                                                    <a>@(ViewBag.isLogged ? ViewBag.User.Email : "Email")</a>
                                                    <a>@(ViewBag.isLogged ? ViewBag.User.mobileNumber : "Mobile Number")</a>
                                                    <a asp-controller="Home" asp-action="Logout">Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    function openNav() {
                                        document.getElementById("mySidenav").style.width = "250px";
                                    }

                                    function closeNav() {
                                        document.getElementById("mySidenav").style.width = "0";
                                    }
                                </script>
                                <span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto navbar-right">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="GalleryCustomer" asp-action="Index">Gallery</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gallery
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="GalleryCustomer" asp-action="Index">User Gallery UI</a>
                                    <a class="dropdown-item" asp-controller="Gallery" asp-action="Index">Admin Gallery</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item active ">
                            <a class="nav-link" asp-controller="Packages" asp-action="Index">Packages</a>
                        </li>

                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item dropdown active navactive">
                                <a class="nav-link dropdown-toggle navactive" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Booking</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="Booking">Booking List</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {

                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Booking
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="BList">Review Customer Booking</a>
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="BookingListAdmin">Admin Booking List</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown active navactive">
                                <a class="nav-link dropdown-toggle navactive" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="iListAdmin">Inquiry Admin</a>
                                </div>
                            </li>
                        }

                        @if (ViewBag.isLogged)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Logout"><i class="fa-solid fa-door-open"></i></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-door-closed"></i></a>
                            </li>
                        }
                    </ul>

                    <script>
                        $(document).ready(function () {
                            $('.nav-link.dropdown-toggle').on('click', function (e) {
                                e.preventDefault();
                                $(this).next('.dropdown-menu').slideToggle();
                            });
                        });
                    </script>

                </div>
            </div>
        </nav>
    </header>
	<div id="content-container">
		<div class="left-column">
			<div id="YB">INQUIRY LIST</div>
			@{
				foreach (var inquiry in Model.Select((value, i) => (value, i)))
				{
					<div id="@("btn" + inquiry.i)" class="blist" data-original-color="white" onclick="clickHandler(this.id)">
						<div>
							<h2>@inquiry.value.accountUser.UserName</h2>
							<h5>@inquiry.value.Date.ToShortDateString()</h5>
						</div>
						<h6>@(inquiry.value.Message.Length > 50 ? inquiry.value.Message.Substring(0, 50) + "..." : inquiry.value.Message)</h6>
					</div>
				}
			}
		</div>
		<div class="vertical-line"></div>
		<div class="right-column">
			@{
				
				foreach (var inquiry in Model.Select((value, i) => (value, i)))
				
				{
					<div id="@("srvc" + inquiry.i)" style="display: none">
						<div class="inquiry-details">
							<div class="user-info">
								<div class="UserTitle">@inquiry.value.accountUser.UserName</div>
								<div>@inquiry.value.accountUser.Email</div>
							</div>
							<div>
								<div class="date">@inquiry.value.Date.ToShortDateString()</div>
								<div class="time">@inquiry.value.Date.ToShortTimeString()</div>
							</div>
						</div>
						<hr />
						<br />
						<div class="inqTitle"> @inquiry.value.Name</div>
						<div class="message">@inquiry.value.Message</div>

						<div style="position: absolute; bottom: 0; right: 20px;">
							@Html.ActionLink("Delete", "Delete", "Inquiry", new { id = inquiry.value.Id }, new { @class = "bi bi-trash inline", @id = "btnGR", @style = "color: black;background-color: white;border-color: black;" })
						</div>
					</div>
					
				}
				
			}
		</div>
	</div>

	<script>
		function clickHandler(element) {
			// $("#datepicker").datepicker("setDate", new Date(2023, 7, 5));
			// $(".ftco-section").show();
			// $(".time-container").show();
			// console.log("You clicked btn1");
			// $("[id^='btnT_']").css("background-color", "white");
			// $("#btnT_1300").css("background-color", "gray");
			$("[id^=srvc]").hide();
			$("#srvc" + element.substr(3)).show();

		};

		document.querySelectorAll('.deletebtn').forEach(function (button) {
			button.addEventListener('click', function () {
				var inquiryId = this.getAttribute('data-inquiry-id');

				fetch(`/Inquiry/DeleteInquiry?id=${inquiryId}`, {
					method: 'DELETE'
				})
					.then(response => {
						if (response.ok) {
							// Remove the inquiry element from the DOM upon successful deletion
							var inquiryElement = this.closest('.inquiry-details');
							inquiryElement.remove();
						} else {
							console.error('Failed to delete inquiry');
						}
					})
					.catch(error => {
						console.error('Error deleting inquiry:', error);
					});
			});
		});
	</script>

</body>
</html>
<footer>
	<div class="footer">
		<hr />
		<div class="social-icons">
			<a href="#" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
			<a href="#" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
			<a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
		</div>
	</div>
	<p class="copyright">&copy; 2023 Your Studio</p>
</footer>