@model List<YourStudioFinal.Models.Inquiry>
@{
	ViewBag.Title = "Inquiryist";
}

<!DOCTYPE html>
<html>
<head>
	<link href="~/css/Inquiry/iList.css" rel="stylesheet" />

</head>
<body>

    <header>
      
    </header>
	<div id="content-container">
		<div class="left-column">
			<div id="YB">INQUIRY LIST</div>
			@{
				foreach (var inquiry in Model.Select((value, i) => (value, i)))
				{
					<div id="@("btn" + inquiry.i)" class="blist" data-original-color="white" onclick="clickHandler(this.id)">
						<div>
							<h2>@inquiry.value.accountUser.UserName</h2>
							<h5>@inquiry.value.Date.ToShortDateString()</h5>
						</div>
						<h6>@(inquiry.value.Message.Length > 50 ? inquiry.value.Message.Substring(0, 50) + "..." : inquiry.value.Message)</h6>
					</div>
				}
			}
		</div>
		<div class="vertical-line"></div>
		<div class="right-column">
			@{
				
				foreach (var inquiry in Model.Select((value, i) => (value, i)))
				
				{
					<div id="@("srvc" + inquiry.i)" style="display: none">
						<div class="inquiry-details">
							<div class="user-info">
								<div class="UserTitle">@inquiry.value.accountUser.UserName</div>
								<div>@inquiry.value.accountUser.Email</div>
							</div>
							<div>
								<div class="date">@inquiry.value.Date.ToShortDateString()</div>
								<div class="time">@inquiry.value.Date.ToShortTimeString()</div>
							</div>
						</div>
						<hr />
						<br />
						<div class="inqTitle"> @inquiry.value.Name</div>
						<div class="message">@inquiry.value.Message</div>

						<div style="position: absolute; bottom: 0; right: 20px;">
							@Html.ActionLink("Delete", "Delete", "Inquiry", new { id = inquiry.value.Id }, new { @class = "bi bi-trash inline", @id = "btnGR", @style = "color: black;background-color: white;border-color: black;" })
						</div>
					</div>
					
				}
				
			}
		</div>
	</div>

	<script>
		function clickHandler(element) {
			// $("#datepicker").datepicker("setDate", new Date(2023, 7, 5));
			// $(".ftco-section").show();
			// $(".time-container").show();
			// console.log("You clicked btn1");
			// $("[id^='btnT_']").css("background-color", "white");
			// $("#btnT_1300").css("background-color", "gray");
			$("[id^=srvc]").hide();
			$("#srvc" + element.substr(3)).show();

		};

		document.querySelectorAll('.deletebtn').forEach(function (button) {
			button.addEventListener('click', function () {
				var inquiryId = this.getAttribute('data-inquiry-id');

				fetch(`/Inquiry/DeleteInquiry?id=${inquiryId}`, {
					method: 'DELETE'
				})
					.then(response => {
						if (response.ok) {
							// Remove the inquiry element from the DOM upon successful deletion
							var inquiryElement = this.closest('.inquiry-details');
							inquiryElement.remove();
						} else {
							console.error('Failed to delete inquiry');
						}
					})
					.catch(error => {
						console.error('Error deleting inquiry:', error);
					});
			});
		});
	</script>

</body>
</html>
<footer>
	<div class="footer">
		<hr />
		<div class="social-icons">
			<a href="#" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
			<a href="#" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
			<a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
		</div>
	</div>
	<p class="copyright">&copy; 2023 Your Studio</p>
</footer>