@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<YourStudioFinal.Models.Booking.BookingModel>

@{
    ViewBag.Title = "Booking List";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Booking/BList.css">
    <link rel="stylesheet" href="~/css/Booking/jQuery.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span>
                        <span onclick="openNav()">
                            <a class="nav-link active d-flex align-items-center" aria-current="page" href="#">
                                <i class="fas fa-bars pe-2 menu"></i>
                        </span>
                        <img src="~/photos/logo.png" class="logonav" alt="">
                        <img src="~/photos/logo2.png" class="logonav2" alt="">
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item">
                            <a class="nav-link">
                                <div class="wrapper-navbar-menu">
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                                        <ul class="navbar-nav me-3">
                                            <li>
                                                <div id="mySidenav" class="sidenav">
                                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                                    <a> @(ViewBag.isLogged ? ViewBag.User.UserName : "Username")</a>
                                                    <a>@(ViewBag.isLogged ? ViewBag.User.Email : "Email")</a>
                                                    <a>@(ViewBag.isLogged ? ViewBag.User.mobileNumber : "Mobile Number")</a>
                                                    <a asp-controller="Home" asp-action="Logout">Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    function openNav() {
                                        document.getElementById("mySidenav").style.width = "250px";
                                    }

                                    function closeNav() {
                                        document.getElementById("mySidenav").style.width = "0";
                                    }
                                </script>
                                <span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto navbar-right">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="GalleryCustomer" asp-action="Index">Gallery</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gallery
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="GalleryCustomer" asp-action="Index">User Gallery UI</a>
                                    <a class="dropdown-item" asp-controller="Gallery" asp-action="Index">Admin Gallery</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item active ">
                            <a class="nav-link" asp-controller="Packages" asp-action="Index">Packages</a>
                        </li>

                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Booking</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="Booking">Booking List</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {

                            <li class="nav-item dropdown active navactive">
                                <a class="nav-link dropdown-toggle navactive" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Booking
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="BList">Review Customer Booking</a>
                                    <a class="dropdown-item" asp-controller="Booking" asp-action="BookingListAdmin">Admin Booking List</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                                </div>
                            </li>
                        }
                        

                        @if (ViewBag.isLogged)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Logout"><i class="fa-solid fa-door-open"></i></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-door-closed"></i></a>
                            </li>
                        }

                    </ul>

                    <script>
                        $(document).ready(function () {
                            $('.nav-link.dropdown-toggle').on('click', function (e) {
                                e.preventDefault();
                                $(this).next('.dropdown-menu').slideToggle();
                            });
                        });
                    </script>

                </div>
            </div>
        </nav>
    </header>
<section class="containers">
    <section class="Book">
         <label for="monthsDropdown">Month:</label>
            <select id="monthsDropdown">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
          </select>

            @foreach (var item in Model.OrderBy(x => x.dateCreated).Select((value, i) => (value, i)))
            {
                <div id="@("btn" + item.i)" class="blist" data-original-color="white" onclick="clickHandler(this.id)">
                    <span class="userTXT" style="color: black;">@item.value.accountUser.UserName</span>
                    @item.value.dateCreated
                    <span class="dateTXT">@item.value.date</span>
                    <span class="timeTXT">@item.value.time</span>
                </div>
            }
    </section>
</section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div id="datepicker"></div>
                </div>
            </div>
        </div>

    </section>
    <section class="time-container">
        <section class="time" style="display: inline-block;">
            <div class="btn-row">
                <div class="btnT" data-original-color="white" id="btnT_0930">09:30 am</div>
                <div class="btnT" data-original-color="white" id="btnT_1000">10:00 am</div>
            </div>
            <div class="btn-row">
                <div class="btnT" data-original-color="white" id="btnT_1030">10:30 am</div>
                <div class="btnT" data-original-color="white" id="btnT_1100">11:00 am</div>
            </div>
            <div class="btn-row">
                <div class="btnT" data-original-color="white" id="btnT_1300">01:30 pm</div>
                <div class="btnT" data-original-color="white" id="btnT_1400">02:00 pm</div>
            </div>
            <div class="btn-row">
                <div class="btnT" data-original-color="white" id="btnT_1430">02:30 pm</div>
                <div class="btnT" data-original-color="white" id="btnT_1500">03:00 pm</div>
            </div>
            <div class="btn-row">
                <div class="btnT" data-original-color="white" id="btnT_1530">03:30 pm</div>
                <div class="btnT" data-original-color="white" id="btnT_1600">04:00 pm</div>
            </div>
        </section>
    </section>

    <section>
        @{
            // this code block will display all of the bookings per month
        }
    </section>

    <section class="containers">
    <section id="Srvc">
        @{
            foreach (var item in Model.Select((value, i) => (value, i)))
            {
                <div id="@("srvc" + item.i)" style="display: none">
                    <div id="VL2"></div>
                    <div id="SrvcDtl">Booking Details</div>
                    <div>
                        <h6><b>Date and Time: </b> @item.value.date @item.value.time</h6>
                    </div>
                    <div>
                        <h6><b>Client: </b> @item.value.accountUser.UserName</h6>
                    </div>
                    <div>
                        <h6><b>Contact Details: </b> @item.value.accountUser.Email</h6>
                    </div>
                    <div>
                        <h6><b>Your Package: </b> @item.value.packages</h6>
                    </div>
                    <div>
                        <h6><b>Add-ons: </b>@item.value.addOns</h6>
                    </div>
                    <div>
                        @* <h6><b>Total: </b> @(Convert.ToInt32(item.value.packages) + Convert.ToInt32(item.value.addOns))</h6> *@
                    </div>
                    <div>
                        <h6><b>Status: @item.value.status</b></h6>
                    </div>
                    <div>
                        <h6><b>Payment Details: </b></h6>
                    </div>
                    @* <div>@item.value.accountUser.Contact</div> *@
                    @* <div>@item.value.accountUser.PackagePrice</div> *@
                    <hr>
                    <form>
                        @Html.ActionLink("Accept", "acceptBooking", "Booking", new { id = item.value.Id, email = item.value.accountUser.Email }, new { @class = "btn btn-primary inline", @id = "btnG" })
                        @Html.ActionLink("Decline", "rejectBooking", "Booking", new { id = item.value.Id }, new { @class = "btn btn-primary inline", @id = "btnR" })

                        <button type="button" id="btnBL" class="btn btn-primary inline" style="color: black;background-color: white;border-color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush" viewBox="0 0 16 16">
                                <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04M4.705 11.912a1.2 1.2 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.4 3.4 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3 3 0 0 0 .126-.75zm1.44.026c.12-.04.277-.1.458-.183a5.1 5.1 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005zm3.582-3.043.002.001h-.002z"></path>
                            </svg>
                        </button>
                        @Html.ActionLink("", "deleteBooking", "Booking", new { id = item.value.Id }, new { @class = "bi bi-trash inline", @id = "btnGR", @style = "color: black;background-color: white;border-color: black;" })


                    </form>
                </div>
            }
        }
    </section>
    </section>
    @section scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    }

    <script>
        function clickHandler(element) {
            // $("#datepicker").datepicker("setDate", new Date(2023, 7, 5));
            // $(".ftco-section").show();
            // $(".time-container").show();
            // console.log("You clicked btn1");
            // $("[id^='btnT_']").css("background-color", "white");
            // $("#btnT_1300").css("background-color", "gray");
            $("[id^=srvc]").hide();
            $("#srvc" + element.substr(3)).show();

        };


        $(function () {

            var $prevElement = null;
            $(".blist").on("mousedown", function () {
                if ($prevElement && $prevElement[0] !== this) {
                    $prevElement.addClass("released").removeClass("pressed");
                    $prevElement.css("background-color", $prevElement.data("original-color"));
                }
                $prevElement = $(this);
                $(this).addClass("pressed").removeClass("released");
                $(this).css("background-color", "#FFA629");
            });

            $(".blist").on("mouseup mouseleave", function () {
            });

            $(".blist").on("click", function () {
                $prevButton = $(this);
            });

            $("#datepicker").datepicker();

            // $(".btn").on("click", function () {
            // 	$("#datepicker").datepicker("setDate", new Date(2023, 7, 5));
            // 	$(".ftco-section").show();
            // 	$(".time-container").show();
            // 	console.log("You clicked btn1");
            // 	$("[id^='btnT_']").css("background-color", "white"); // turn all buttons with id starting with 'btnT_' to white
            // 	$("#btnT_1300").css("background-color", "gray"); // turn the button with id 'btnT_1300' to gray
            // });
            //
            // $("#btn2").on("click", function () {
            // 	$("#datepicker").datepicker("setDate", new Date(2023, 8, 6));
            // 	$(".ftco-section").show();
            // 	$(".time-container").show();
            // 	console.log("You clicked btn2");
            // 	$("[id^='btnT_']").css("background-color", "white"); // turn all buttons with id starting with 'btnT_' to white
            // 	$("#btnT_1430").css("background-color", "gray"); // turn the button with id 'btnT_1430' to gray
            // });

        });
    </script>

</body>
</html>

