@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<YourStudioFinal.Models.Booking.BookingModel>

@{
    ViewBag.Title = "Review Customer Booking List";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Booking/blist.css">
    <link rel="stylesheet" href="~/css/Booking/jQuery.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
    </header>
    <section class="containers">
        <section class="Book">
            <div class="LabelL"><span class="yellowText">REVIEW</span> CUSTOMER BOOKING</div>
            <div class="Counter">@ViewBag.BookingCount Bookings</div>
        </section>
        <section class="Book2">
            @foreach (var item in Model.OrderByDescending(x => x.dateCreated).GroupBy(x => x.date).SelectMany(x => x).Select((value, i) => (value, i)))
            {
                <div id="@("btn" + item.i)" class="blist" data-original-color="black" onclick="clickHandler(this.id)">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column;">
                            <span class="userTXT" style="color: black; font-weight: bold;">@item.value.accountUser.UserName</span>
                            <br />
                            <span class="Low">Date & Time Created: @item.value.dateCreated</span>
                        </div>
                        <div style="display: flex; flex-direction: column; align-items: flex-end; color: black;">
                            <span style="color: black;" class="Low">@item.value.date</span>
                            <span style="color: black;" class="Low">@item.value.time</span>
                            <span style="color: black;" class="Low">@item.value.packages</span>
                        </div>
                    </div>
                </div>
            }

        </section>
        <section>
            @{
                // this code block will display all of the bookings per month
            }
        </section>

        <section class="containers">
            <section id="Srvc">
                @{
                    foreach (var item in Model.Select((value, i) => (value, i)))
                    {
                        <div id="@("srvc" + item.i)" style="display: none">
                            <div id="VL2"></div>
                            <div id="SrvcDtl">BOOKING DETAILS</div>
                            <div class="info-box">
                                <div>
                                    <h6><b>Date and Time:</b> <span>@item.value.date @item.value.time</span></h6>
                                </div>
                                <div>
                                    <h6><b>Client:</b> <span>@item.value.accountUser.UserName</span></h6>
                                </div>
                                <div>
                                    <h6><b>Contact Details:</b> <span>@item.value.accountUser.Email</span></h6>
                                </div>
                                <div>
                                    <h6><b>Your Package:</b> <span>@item.value.packages</span></h6>
                                </div>
                                <div>
                                    <h6><b>Add-ons:</b> <span>@item.value.addOns</span></h6>
                                </div>
                                <div>
                                    <h6><b>Status:</b> <span>@item.value.status</span></h6>
                                </div>
                                <div>
                                    <h6><b>Payment Details:</b></h6>
                                </div>
                            </div>

                            <button type="button" id="btnG" data-toggle="modal" data-target="#exampleModalCenter">ACCEPT</button>
                            <button type="button" id="btnR" data-toggle="modal" data-target="#exampleModalCenter2">DECLINE</button>
                        </div>

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="~/photos/check.png" class="mlPic" alt="">
                                        <div class="mlTitle">Accept Booking?</div>
                                        <div class="mlBody">Are you sure you want to accept this booking?</div>
                                        <form>
                                            <button type="button" id="btnAG" data-toggle="modal" data-dismiss="modal" data-target="#exampleModalCenter3">ACCEPT</button>
                                            <button type="button" class="btnC" data-dismiss="modal" style="border-radius: 5px;bottom: -1px;background-color: black; position: relative; left: 33%; font-weight: bold; padding: 6px 16px 6px 16px; margin-right: 20px; color: white; border: hidden;">CLOSE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="~/photos/check.png" class="mlPic" alt="">
                                        <div class="mlTitle">Booking Accepted!</div>
                                        <div class="mlBody">You accepted the booking successfully.</div>
                                        <form>
                                            @Html.ActionLink("OKAY!", "acceptBooking", "Booking", new { id = item.value.Id, email = item.value.accountUser.Email }, new { @class = "btn btn-primary inline", @id = "btnMG" })
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="~/photos/warn.png" class="mlPic" alt="">
                                        <div class="mlTitle">Decline Booking?</div>
                                        <div class="mlBody">Are you sure you want to decline this booking?</div>
                                        <form>
                                            @Html.ActionLink("REMOVE", "rejectBooking", "Booking", new { id = item.value.Id }, new { @class = "btn btn-primary inline", @id = "btnMR" })
                                            <button type="button" class="btnC" data-dismiss="modal" style="border-radius: 5px;bottom: -3px;background-color: black; position: relative; left: 33%; font-weight: bold; padding: 6px 16px 6px 16px; margin-right: 20px; color: white; border: hidden;">CLOSE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </section>
        </section>
        @section scripts {
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        }

        <script>
            function clickHandler(element) {
                // $("#datepicker").datepicker("setDate", new Date(2023, 7, 5));
                // $(".ftco-section").show();
                // $(".time-container").show();
                // console.log("You clicked btn1");
                // $("[id^='btnT_']").css("background-color", "white");
                // $("#btnT_1300").css("background-color", "gray");
                $("[id^=srvc]").hide();
                $("#srvc" + element.substr(3)).show();

            };


            $(function () {

                var $prevElement = null;
                $(".blist").on("mousedown", function () {
                    if ($prevElement && $prevElement[0] !== this) {
                        $prevElement.addClass("released").removeClass("pressed");
                        $prevElement.css("border-color", $prevElement.data("original-color"));
                    }
                    $prevElement = $(this);
                    $(this).addClass("pressed").removeClass("released");
                    $(this).css({ "border-color": "#FFA629", "border-style": "solid" });

                });

                $(".blist").on("mouseup mouseleave", function () {
                });

                $(".blist").on("click", function () {
                    $prevButton = $(this);
                });

                $("#datepicker").datepicker();

                // $(".btn").on("click", function () {
                // 	$("#datepicker").datepicker("setDate", new Date(2023, 7, 5));
                // 	$(".ftco-section").show();
                // 	$(".time-container").show();
                // 	console.log("You clicked btn1");
                // 	$("[id^='btnT_']").css("background-color", "white"); // turn all buttons with id starting with 'btnT_' to white
                // 	$("#btnT_1300").css("background-color", "gray"); // turn the button with id 'btnT_1300' to gray
                // });
                //
                // $("#btn2").on("click", function () {
                // 	$("#datepicker").datepicker("setDate", new Date(2023, 8, 6));
                // 	$(".ftco-section").show();
                // 	$(".time-container").show();
                // 	console.log("You clicked btn2");
                // 	$("[id^='btnT_']").css("background-color", "white"); // turn all buttons with id starting with 'btnT_' to white
                // 	$("#btnT_1430").css("background-color", "gray"); // turn the button with id 'btnT_1430' to gray
                // });

            });
        </script>

</body>
</html>

