@model List<YourStudioFinal.Models.Booking.BookingModel>

@{
	ViewBag.Title = "Booking";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/booking/Book.css" rel="stylesheet" />
</head>
<body>

    <section class="containers">
        <div class="Book">
            <div>YOUR BOOKING LIST</div>
        </div>
    </section>
<section class="containers">
    <div class="form-box">
        @Html.ActionLink("All", "BookingListAdmin", "Booking", null, new {@class = "black-text"})
        |
        @Html.ActionLink("Pending", "BookingListAdminPending", "Booking", null, new {@class = "black-text"})
        |
        @Html.ActionLink("Accepted", "BookingListAdminAccepted", "Booking", null, new {@class = "black-text"})
        |
        @Html.ActionLink("Declined", "BookingListAdminDecline", "Booking", null, new {@class = "black-text"})
        |
        @Html.ActionLink("Paid", "BookingListAdminPaid", "Booking", null, new {@class = "black-text"})
        <br/>

        @{
            if (Model != null)
            {

                <table class="custom-table">
                    <tr>
                        <td></td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Customer ID</td>
                        <td>Username</td>
                        <td>Mobile Number</td>
                        <td>Email</td>
                        <td>Package</td>
                        <td>Add Ons</td>
                        <td>Price</td>
                        <td>Payment Receipt</td>
                    </tr>
                    <form id="deleteContent" method="post">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td><input type="checkbox" data-id="@Model[i].Id" onclick="setDelete"/></td>
                                <td>@Model[i].date</td>
                                <td>@Model[i].time</td>
                                <td>@Model[i].accountUser.Id</td>
                                <td>@Model[i].accountUser.Id</td>
                                <td>@Model[i].accountUser.mobileNumber</td>
                                <td>@Model[i].accountUser.Email</td>
                                <td>@Model[i].packages</td>
                                <td>@Model[i].addOns</td>
                                <td>@Model[i].totalPrice</td>
                                @if (Model[i].payment != null){
                                <td><input type="button" onclick="location.href='@System.IO.Path.Combine("../uploads/", @Model[i].payment?.fileName)';" value="See Receipt" /></td>
                                }
                                else
                                {
                                <td>Not Paid</td>
                                }
                                </tr>
                        }
                    </form>
                </table>
            }
        }
        <br/>

        <button type="button" class="BtnCont" onclick="setDelete()">
            REMOVE
        </button>
    </div>
</section>

<script>
        setDelete = function () {
        var checked = document.querySelectorAll('input[type="checkbox"]:checked');
        var deleteContent = document.getElementById('deleteContent');
        deleteContent.action = '/Booking/DeletedBookingAdmin?ids=' + Array.from(checked).map(x => x.getAttribute('data-id')).join(',');
        deleteContent.submit();
    }
</script>
</body>
</html>

<footer>
    <div class="footer-container">
        <hr />
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
            <a href="#" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <p class="copyright">&copy; 2023 Your Studio</p>
</footer>