@model List<YourStudioFinal.Models.Booking.BookingModel>
@inject Microsoft.AspNetCore.Identity.UserManager<YourStudioFinal.Models.User> UserManager

@{
    ViewBag.Title = "Booking";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/booking/BookL.css" rel="stylesheet" />
</head>
<body>

    <header>

          
    </header>

    <section class="containers">
        <div class="Book">
            <div>YOUR <span style="color: #E9BC42;">BOOKING LIST</span></div>
        </div>

    </section>
    <section class="containers">
        <div class="form-box">
            @Html.ActionLink("All", "BookingAll", "Booking", null, new { @class = "black-text", @style = "color: black;" })
            |
            @Html.ActionLink("Pending", "Booking", "Booking", null, new { @class = "black-text", @style = "color: black;" })
            |
            @Html.ActionLink("Accepted", "BookingAccept", "Booking", null, new { @class = "black-text", @style = "color: black;" })
            |
            @Html.ActionLink("Declined", "BookingDecline", "Booking", null, new { @class = "black-text", @style = "color: black; background-color: #E9BC42; padding: 0px 10px; border-radius: 5px;" })
            |
            @Html.ActionLink("Paid", "BookingPaid", "Booking", null, new { @class = "black-text", @style = "color: black;" })
            <br />

            @{
                if (Model != null)
                {

                    <table class="custom-table">
                        <tr>
                            <td>Select</td>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Package</td>
                            <td>Add ons</td>
                            <td>Price</td>
                            <td>Payment Image</td>
                        </tr>
                        <!--foreach the booking of the user logged in-->
                        @{
                            var currentUserId = UserManager.GetUserId(User);
                        }
                        <form id="deleteContent" method="post">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (Model[i].accountUser.Id == currentUserId)
                                {
                                <tr>
                                    <td><input type="checkbox" data-id="@Model[i].Id" onclick="setDelete" /></td>
                                    <td>@Model[i].date</td>
                                    <td>@Model[i].time</td>
                                    <td>@Model[i].packages</td>
                                    <td>@Model[i].addOns</td>
                                    <td>@Model[i].totalPrice</td>
                                        @if (Model[i].payment != null)
                                        {
                                        <td><input type="button" onclick="location.href='@System.IO.Path.Combine("../uploads/", @Model[i].payment?.fileName)';" value="See Receipt" /></td>
                                        }
                                        else
                                        {
                                        <td>Not Paid</td>
                                        }
                                </tr>
                                }
                            }
                        </form>
                    </table>
                }
            }
            <br />

        </div>
        <br />
        <section class="BtnCont">
            <button type="button" id="RmvBtn" data-toggle="modal" data-target="#exampleModalCenter">REMOVE</button>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="~/photos/warn.png" class="mlPic" alt="">
                            <div class="mlTitle">Remove Booking?</div>
                            <div class="mlBody">Are you sure you want to remove this booking?</div>
                            <form>
                                <button type="button" id="btnMR" data-toggle="modal" data-dismiss="modal" data-target="#exampleModalCenter2">REMOVE</button>
                                <button type="button" class="btnC" data-dismiss="modal" style="border-radius: 5px;background-color: black; position: relative; left: 33%; font-weight: bold; padding: 6px 16px 6px 16px; margin-right: 20px; color: white; border: hidden;">CLOSE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="~/photos/check.png" class="mlPic" alt="">
                            <div class="mlTitle">Booking Removed!</div>
                            <div class="mlBody">You removed the booking successfully.</div>
                            <form>
                                <button type="button" class="btnMG" data-dismiss="modal" onclick="setDelete()">OKAY!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script>
        setDelete = function () {
            var checked = document.querySelectorAll('input[type="checkbox"]:checked');
            var deleteContent = document.getElementById('deleteContent');
            deleteContent.action = '/Booking/DeletedBooking?ids=' + Array.from(checked).map(x => x.getAttribute('data-id')).join(',');
            deleteContent.submit();
        }
    </script>

    <script>
    document.getElementById("RmvBtn").addEventListener("click", function() {
        var checked = document.querySelectorAll('input[type="checkbox"]:checked');
                    if (checked.length === 0) {
                        alert('Please select at least one item to delete');
                        event.preventDefault();
                        event.stopPropagation();
                        return;
                    }
    });
    </script>
</body>
</html>

<footer>
    <div class="footer-container">
        <hr />
        <div class="social-icons">
            <a href="https://www.waze.com/live-map/directions?to=ll.14.451163%2C120.951211" target="_blank"><i class="fab fa-waze fa-2x"></i></a>
            <a href="https://www.facebook.com/YourStudio.bacoor" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="https://www.instagram.com/yourstudio.bacoor/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <p class="copyright">&copy; 2023 Your Studio</p>
</footer>