@model List<YourStudioFinal.Models.Booking.BookingModel>

<html>
<head>
    <link href="~/css/login/forget.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/https://unpkg.com/bs-brain@2.0.3/components/password-resets/password-reset-10/assets/css/password-reset-10.css">
    <link href="~/css/booking/payment.css" rel="stylesheet" />
    

</head>

<body>
    <header>
        <div class="wrapper-nav">

         
    </header>
    <section class="grid-container">
    <section>
          <form asp-controller="Booking" asp-action="submitPayment" method="post" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <!-- Column 1 -->
                    <div class="col-12 col-sm-10 col-md-4 mb-4 mb-md-0">
                        <div class="card-body p-3 p-md-4 p-xl-5" style="position: relative;">

                            <div class="form-floating mb-3">
                                <p class="bQuest">Select Mode of Payment</p>
                                <select class="dropitlow" id="selectPayment1" required>
                                    <option value="G-Cash" selected>G-Cash</option>
                                    <option value="BPI">BPI</option>
                                </select>
                                <img id="payment-image1" src="/modeofpayment/GCash.jpg" alt="Payment Image" class="payment-image" />
                                <img id="payment-image2" src="/modeofpayment/BPI.png" alt="Payment Image" class="payment-image" style="display:none;" />
                            </div>

                            <br />
                            <div class="details-wrapper">
                                <div class="d-grid mb-3" style="text-align: center">
                                    <p>Details:</p>
                                    <div id="detailsContent1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Column 2 -->
                    <div class="col-12 col-sm-10 col-md-4 mb-4 mb-md-0">
                        <div class="card-body p-3 p-md-4 p-xl-5" style="position: relative;">

                            <p class="bQuest">Which booking do you want to pay?</p>
                            <div class="form-floating mb-3">
                                <select class="dropitlow" name="Id" id="Id" required>
                                    @{
                                        var selectedValue = Model.FirstOrDefault()?.Id; 
                                        if (string.IsNullOrEmpty(selectedValue))
                                        {
                                            <option value="" selected>Select Booking:</option>
                                        }
                                        else
                                        {
                                            <option value="">Select Booking:</option>
                                        }
                                    }

                                    @foreach (var booking in Model)
                                    {
                                        <option value="@booking.Id">@booking.date @booking.time</option>
                                    }
                                </select>
                            </div>

                            <br />
                            <section class="containers" id="bookingDetailsSection" style="display: none;">
                                <section class="deets">
                                    @{
                                        if (string.IsNullOrEmpty(selectedValue))
                                        {
                                            <table class="custom-table" id="emptyBookingDetail">
                                                <tr>
                                                    <th>Name:</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>Date:</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>Time:</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>Package:</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>Add Ons:</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>Price:</th>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        }
                                        else
                                        {
                                            foreach (var booking in Model)
                                            {
                                                <table class="custom-table" id="bookingDetail_@booking.Id" style="display:none;">
                                                    <tr>
                                                        <th>Name:</th>
                                                        <td>@booking.accountUser</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date:</th>
                                                        <td>@booking.date</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Time:</th>
                                                        <td>@booking.time</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Package:</th>
                                                        <td>@booking.packages</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Add Ons:</th>
                                                        <td>@booking.addOns</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Price:</th>
                                                        <td>@booking.totalPrice</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Down Payment:</th>
                                                        <td>@booking.downPayment</td>
                                                    </tr>
                                                </table>
                                            }
                                        }
                                    }
                                </section>
                            </section>
                        </div>
                    </div>



                <!-- Column 3 -->
                    <div class="col-12 col-sm-10 col-md-4 mb-4 mb-md-0">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                            <p class="scrnsht">Provide the Screenshot of your payment</p>
                            <!-- Dynamic label for total price -->
                            <div class="topay">
                                <p class="price mb-3" id="priceLabel">To Pay: </p>
                            </div>
                            <!-- File input for payment screenshot -->
                            <input type="file" name="image" class="form-control" id="paymentScreenshot" accept="image/*" required />
                            <!-- Image preview -->
                            <div id="imagePreview" class="mt-3"></div>

                            <!-- Loop over bookings to generate payment detail sections -->
                            @foreach (var booking in Model)
                            {
                                <div id="bookingDetail_@booking.Id" style="display: none;">
                                    <!-- Dynamic label for total price for each booking -->
                                    <label for="paymentScreenshot_@booking.Id" class="topay">To Pay: @booking.totalPrice</label>
                                </div>
                            }
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary mt-3">PAY NOW</button>
                        </div>
                    </div>
                </div>
                </form>
    </section>
    </section>

    <script>
      @*  function previewImage(input) {
            console.log('previewImage function called');
            const preview = document.getElementById('imagePreview');
            // Clear the contents of the imagePreview div before adding a new image
            preview.innerHTML = '';

            const file = input.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.classList.add('img-fluid');
                    preview.appendChild(img);
                }
                reader.readAsDataURL(file);

            }
            
        }*@
        function previewImage(input) {
    const preview = document.getElementById('imagePreview');

    // Remove any existing child nodes (images) from the imagePreview element
    while (preview.firstChild) {
        preview.removeChild(preview.firstChild);
    }

    const file = input.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
            const img = document.createElement('img');
            img.src = e.target.result;
            img.classList.add('img-fluid');
            preview.appendChild(img);
        }
        reader.readAsDataURL(file);
    }
}


    </script>
    <script>
        $(document).ready(function () {
            // Default behavior for file upload option
            $('#paymentScreenshot').change(function () {
                previewImage(this);
            });

            // Update price and show corresponding booking details on dropdown change
            $('#Id').change(function () {
                var selectedBookingId = $(this).val();
                var totalPrice = $('#bookingDetail_' + selectedBookingId + ' label.topay').text().split(': ')[1];
                $('#priceLabel').text('To Pay: ' + totalPrice);

                // Show the corresponding booking details and hide others
                $('[id^="bookingDetail_"]').hide();
                $('#bookingDetail_' + selectedBookingId).show();

                // Update file input ID for the selected booking
                var fileInputId = 'paymentScreenshot_' + selectedBookingId;
                $('#paymentScreenshot').attr('id', fileInputId);

                // Reset file input value to avoid browser caching
                $('#' + fileInputId).val('');
            });
        });
    </script>
   
    <script>
        document.getElementById("Id").addEventListener('change', function () {
            var selectedBookingId = this.value;
            var bookingDetailsSection = document.getElementById('bookingDetailsSection');
            var bookingDetailSections = document.querySelectorAll('[id^="bookingDetail_"]');
            bookingDetailSections.forEach(function (section) {
                section.style.display = 'none';
            });
            if (selectedBookingId) {
                var selectedBookingDetailSection = document.getElementById('bookingDetail_' + selectedBookingId);
                if (selectedBookingDetailSection) {
                    bookingDetailsSection.style.display = 'block';
                }
            } else {
                bookingDetailsSection.style.display = 'none';
            }
        });
    </script>
    
    <script>
        $(document).ready(function () {
            $('.dropitlow').select2({
                theme: 'classic', // Choose a theme (you can also create custom themes)
                dropdownCssClass: 'custom-dropdown', // Add a custom class for styling
                minimumResultsForSearch: Infinity, // Hide the search box
            });
        });
    </script>
<script>
        // Wait for the page to finish loading
        document.addEventListener('DOMContentLoaded', function () {
            // Get the select element
            var selectPayment = document.getElementById('selectPayment1');

            // Trigger the 'change' event on the select element
            selectPayment.dispatchEvent(new Event('change'));
        });

    // Event listener for select change
    document.getElementById("selectPayment1").addEventListener('change', function () {
        var paymentImage = document.getElementById('payment-image1'); // Corrected ID
        var bpiImage = document.getElementById('payment-image2'); // Get the BPI image element
        switch (this.value) {
            case 'G-Cash':
                paymentImage.src = '/modeofpayment/GCash.jpg';
                paymentImage.style.display = 'block';
                bpiImage.style.display = 'none'; // Hide the BPI image
                break;
            case 'BPI':
                paymentImage.src = '/modeofpayment/BPI.png';
                paymentImage.style.display = 'none'; // Hide the G-Cash image
                bpiImage.style.display = 'none';
                break;
            default:
                paymentImage.src = '';
                paymentImage.style.display = 'none';
                break;
        }
    });
</script>
<script>
        document.getElementById('selectPayment1').addEventListener('change', function () {
            var paymentImage = document.getElementById('payment-image1'); // Corrected ID
            var detailsContent = document.getElementById('detailsContent1'); // Corrected ID
            switch (this.value) {
                case 'G-Cash':
                    paymentImage.src = '/modeofpayment/GCash.jpg';
                    paymentImage.style.display = 'block';
                    detailsContent.innerHTML = "<p>Account Name: JE***A LY*A E.</p>";
                    break;
                case 'BPI':
                    paymentImage.src = '/modeofpayment/BPI.png';
                    paymentImage.style.display = 'block';
                    detailsContent.innerHTML = "<p>Account Name: Jerica</p>";
                    break;
                default:
                    paymentImage.src = '';
                    paymentImage.style.display = 'none';
                    break;
            }
        });

</script>
<script>

</script>
</body>
</html>